:root {
    --vp-c-brand: #eab308;
    --vp-c-brand-light: #fbbf24;
    --vp-c-brand-lighter: #fcd34d;
    --vp-c-brand-dark: #d97706;
    --vp-c-brand-darker: #b45309;

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #eab308, #ef4444);
    --vp-home-hero-image-filter: blur(6rem);
}

::selection {
    background-color: rgba(234 179 8 / .75);
}

img, iframe {
	border-radius: .25rem;
}

iframe {
    max-width: 100%;
}

figure {
    text-align: center;
}
figcaption {
    margin-top: 16px;
}

main .VPHero {
    padding-left: 0 !important;
    padding-right: 0 !important;
}